<h1>Hola, cielo! Regalame un beso porque ya hice mi primer Hola mundo en Ruby on rails </h1>
<% [1,2,3,4].each do |number| %>
    <p>Número: <%= number * 3 %></p>
<%end%>
<% mundo = "Carlos" %>
<%= "Hola #{mundo}" %>
