<h1>Hola. Estamos comenzando con el proyecto de Global salud. Vamos a ver qué nos sale.</h1>
<% [1,2,3,4].each do |number| %>
    <p>Número: <%= number * 3 %></p>
<%end%>
<% mundo = "Carlos" %>
<%= "Hola #{mundo}" %>